<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <div class="row">
        <div class="col">
          <h1>Advertisements</h1>
        </div>
        <div class="col-2 text-center">
          <a href="/advertisements/new">
            <button type="button" class="btn btn-primary">New</button>
          </a>
        </div>
      </div>

      <ul class="list-group">
<!-- #1 -->
        <% advertisements.forEach((advertisement) => { %>
<!-- #2 -->
          <li class="list-group-item">
            <a href="/advertisements/<%= advertisement.id %>"> <%= advertisement.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>